<div
  {{did-insert this.insertStyles}}
  class="positioner {{if @isHidden "pointer-events-none"}}"
  aria-hidden={{if @isHidden "true" "false"}}
  ...attributes
>
  <div class="positioner-container">
    {{#unless @hideArrow}}
      <div class="positioner-arrow" data-popper-arrow></div>
    {{/unless}}
    <div class="positioner-content">
      {{yield}}
    </div>
  </div>
</div>
